
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AASLayout.cshtml";
}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About US | Hotte</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/take_away/hotte-main/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/take_away/hotte-main/favicon.ico" type="image/x-icon" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <!-- Icofont CSS -->
    <link rel="stylesheet" href="~/take_away/hotte-main/css/icofont.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/take_away/hotte-main/css/bootstrap.min.css" />
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="~/take_away/hotte-main/css/venobox.min.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/take_away/hotte-main/css/style.css" />
    <!-- Responsive CSS-->
    <link rel="stylesheet" href="~/take_away/hotte-main/css/responsive.css" />
</head>

<body>
    <!-- Goto TOP -->
    <div id="top-btn">
        <button class="btn top-btn"><i class="icofont-arrow-up"></i></button>
    </div>
    <!-- Preloader -->
    <div class="preloader-wrap">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- HERO SECTION START -->
    <div class="hero-section">
       
        <div class="bubble">
            <img src="~/take_away/hotte-main/img/bubble.png" alt="bubble-images " class="img-fluid" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="hero-sec-content">
                        <h1>Hakkımızda</h1>
                        <ul>
                            <li><a href="~/take_away/hotte-main/index.html">Home</a><i class="icofont-double-right"></i></li>
                            <li>
                                <a href="~/take_away/hotte-main/about.html"><span>About</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HERO SECTION END -->
    <!-- SERVICE SECTION START -->
    <div class="service-section">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="image-box clearfix border-right-dashed">
                        <div class="box-image float-left">
                            <img src="~/take_away/hotte-main/img/honney.png" alt="" />
                        </div>
                        <div class="image-text float-left">
                            <h2>Yemeğini Seç</h2>
                            <p>İlan oluşturan restoranlardan istediğini seç.</p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="image-box clearfix border-right-dashed">
                        <div class="box-image float-left">
                            <img src="~/take_away/hotte-main/img/macaron.png" alt="" />
                        </div>
                        <div class="image-text float-left">
                            <h2>Rezervasyon Oluştur</h2>
                            <p>Seçtiğin restoranda rezervasyon oluştur.</p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="image-box clearfix">
                        <div class="box-image float-left">
                            <img src="~/take_away/hotte-main/img/dinner.png" alt="" />
                        </div>
                        <div class="image-text float-left">
                            <h2>Teslim Al</h2>
                            <p>Saati geldiğinde yemeğini teslim al ve afiyetle ye.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- SERVICE SECTION END -->
    <!-- ABOUT SECTION START -->
    <div class="about_section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
                    <div class="img-donat">
                        <img src="~/take_away/hotte-main/img/donut2.png" class="img-fluid" alt="" />
                    </div>
                    <div class="img-cutlary">
                        <img src="~/take_away/hotte-main/img/cutlery.png" class="img-fluid" alt="" />
                    </div>
                    <div class="tab">
                        <ul class="nav nav-pills custom-nav mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link show active custom-nav-link" id="thestory-tab" data-toggle="pill" href="#thestory" role="tab" aria-controls="thestory-tab" aria-selected="true">Hikayemiz </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link custom-nav-link" id="our-mission-tab" data-toggle="pill" href="#our-mission" role="tab" aria-controls="our-mission" aria-selected="false">Misyonumuz</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link custom-nav-link" id="our-vission-tab" data-toggle="pill" href="#our-vission" role="tab" aria-controls="our-vission" aria-selected="false">Vizyonumuz</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane custom-tab-pane text-center show active" id="thestory" role="tabpanel" aria-labelledby="thestory-tab">
                                <h2>Görebileceğiniz en yeni tecrübe</h2>
                                <p>
                                    Hikayemiz geçmiş öğrencilik yıllarımıza dayanmaktadır. Bu projeyi yürüten dçrt kişi olarak hep çok yakın arkadaştık ancak hiç kolay öğrencilik yılları geçirmedik. Birçok öğrenci gibi ekonomik şartlarımız harika değildi ve yemek masraflarımız harcamalarımızın en büyüğüydü. O dönem canımızı sıkan bu durum ve şahit olduğumuz atıklar, çöpe atılan yemekler, kirli bir dünya bizi çok mutsuz etmişti. Kendi çıkarlarımızı düşünerek çıktığımız bu yolda aslında hep dünyaya yararlı bir proje üretmek istemiştik. 
                                </p>
                                <p>Göründüğü üzere bu siteyi kurma noktasına geldik. Ve bu ekip olarak gelecek nesillere yardımcı olmaya çalışmaya devam edeceğiz.</p>
                            </div>
                            <div class="tab-pane fade custom-tab-pane text-center" id="our-mission" role="tabpanel" aria-labelledby="our-mission-tab">
                                <h2>Tek Bir Kırıntı Kalmayana Kadar.</h2>
                                <p>
                                    Misyonumuz, ekonomik şartlar sonucunda oluşan açlık problemlerini elimizden geldiğince aza indirmek bunun yanı sıra her gün çöpe atılan yemeklerin, poşet ve ambalajların israfına engel olmaktır.
                                </p>
                            </div>
                            <div class="tab-pane fade custom-tab-pane text-center" id="our-vission" role="tabpanel" aria-labelledby="our-vission-tab">
                                <h2>Daha temiz yarınlar için...</h2>
                                <p>
                                    Vizyonumuz, öncelikle ulusal daha sonrasında global olmak üzere dünyadaki israfı ve kirliliği azaltarak doğanın yaşanabilirliğini arttırmak, gelecek nesillere daha güzel bir habitat oluşturmak ve israf etmemeye özen gösteren, "Artık Artığa Son!" diyen bilinçler oluşturmaktır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
                    <div class="about-img">
                        <img src="~/take_away/hotte-main/img/about_img.png" class="img-fluid" alt="about-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT SECTION END -->
    <!-- CHEFS SECTION START -->
    <div class="chefs-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm 12 col-md-12 col-lg-12 col-xl-12">
                    <div class="chefs-head text-center">
                        <h2><span>Artık Artığa Son</span> Kurucularımız </h2>
                        <p>Sizler için canla başla uğraşan muhteşem ekibimiz.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="chefs">
                        <div class="chefs-info row">
                            @*<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <div class="chefs-img text-center">
                                    <img src="~/take_away/hotte-main/img/chefs1.png" alt="" class="w-100 img-fluid" />
                                </div>
                            </div>*@
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                <div class="chefs-info-content">
                                    <h3><a href="#">Enes Aktepe</a></h3>
                                    <h4>Kurucu</h4>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                </div>
                                <ul class="social-icon-list">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li class="custom-icon-pinterest">
                                        <a href="#"><i class="icofont-pinterest"></i></a>
                                    </li>
                                    <li class="custom-icon-dribbble">
                                        <a href="#"><i class="icofont-dribbble"></i></a>
                                    </li>
                                    <li class="custom-icon-twitter">
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="chefs">
                        <div class="chefs-info row">
                            @*<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <div class="chefs-img text-center">
                                    <img src="~/take_away/hotte-main/img/chefs2.png" alt="" class="w-100 img-fluid" />
                                </div>
                            </div>*@

                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                <div class="chefs-info-content">
                                    <h3><a href="#">Dursun Murat Ertunç</a></h3>
                                    <h4>Kurucu</h4>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                </div>
                                <ul class="social-icon-list">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li class="custom-icon-pinterest">
                                        <a href="#"><i class="icofont-pinterest"></i></a>
                                    </li>
                                    <li class="custom-icon-dribbble">
                                        <a href="#"><i class="icofont-dribbble"></i></a>
                                    </li>
                                    <li class="custom-icon-twitter">
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="chefs">
                        <div class="chefs-info row">
                            @*<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <div class="chefs-img text-center">
                                    <img src="~/take_away/hotte-main/img/chefs3.png" alt="" class="w-100 img-fluid" />
                                </div>
                            </div>*@
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                <div class="chefs-info-content">
                                    <h3><a href="#">Almıla Üresin</a></h3>
                                    <h4>Kurucu</h4>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                </div>
                                <ul class="social-icon-list">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li class="custom-icon-pinterest">
                                        <a href="#"><i class="icofont-pinterest"></i></a>
                                    </li>
                                    <li class="custom-icon-dribbble">
                                        <a href="#"><i class="icofont-dribbble"></i></a>
                                    </li>
                                    <li class="custom-icon-twitter">
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="chefs">
                        <div class="chefs-info row">
                            @*<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <div class="chefs-img text-center">
                                    <img src="~/take_away/hotte-main/img/chefs4.png" alt="" class="w-100 img-fluid" />
                                </div>
                            </div>*@
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                <div class="chefs-info-content">
                                    <h3><a href="#">Altay Donuk</a></h3>
                                    <h4>Kurucu</h4>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                    <p>Ferment of libero osit amet conse tetuer adiing elit dictum magna laoreet aliquam leo. Ut tellus dolor dapibus eget cursus eleifend.</p>
                                </div>
                                <ul class="social-icon-list">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li class="custom-icon-pinterest">
                                        <a href="#"><i class="icofont-pinterest"></i></a>
                                    </li>
                                    <li class="custom-icon-dribbble">
                                        <a href="#"><i class="icofont-dribbble"></i></a>
                                    </li>
                                    <li class="custom-icon-twitter">
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>
    <!-- CHEFS SECTION END -->
    <!-- TESTY FOOD SECTION START -->
    <div class="testy-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="testy-content">
                        <h3>Tek bir kırıntıyı bile <span>israf</span> etmeyeceğiz!</h3>
                        <p>Türkiye'de her yıl 26 milyon ton gıda israf ediliyor. Buna bir dur demek için bu projeyi başlatmamız bizim için bir zorunluluktu.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 text-center">
                    <div class="video-content">
                        <div class="video">
                            <a href="https://youtu.be/tKbttQVok-M" class="venobox" data-autoplay="true" data-vbtype="video">
                                <i class="icofont-ui-play"></i>
                            </a>
                        </div>
                        <span>Neden bunu yapıyoruz?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTY FOOD SECTION END -->

    <!-- jQuery JS -->
    <script src="~/take_away/hotte-main/js/jquery-3.5.1.min.js"></script>
    <!-- Popper JS -->
    <script src="~/take_away/hotte-main/js/popper.min.js"></script>
    <!-- Venobox JS -->
    <script src="~/take_away/hotte-main/js/venobox.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/take_away/hotte-main/js/bootstrap.min.js"></script>
    <!-- main.js -->
    <script src="~/take_away/hotte-main/js/main.js"></script>
</body>
</html>

