
@{
    ViewBag.Title = "Ilanlar";
    Layout = "~/Views/Shared/_AASLayout.cshtml";
}

<!-- HERO SECTION START -->
<div class="hero-section ads">

    <div class="bubble">
        <img src="~/take_away/hotte-main/img/bubble.png" alt="bubble-images " class="img-fluid" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="hero-sec-content">
                    <h1>İlanlar</h1>
                    <ul>
                        <li><a href="Index">Ana Sayfa</a><i class="icofont-double-right"></i></li>
                        <li>
                            <a href="Ilanlar"><span>İlanlar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HERO SECTION END -->
<!-- SERVICE SECTION START -->
<div class="service-section">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="image-box clearfix border-right-dashed">
                    <div class="box-image float-left">
                        <img src="~/take_away/hotte-main/img/honney.png" alt="" />
                    </div>
                    <div class="image-text float-left">
                        <h2>Yemeğini Seç</h2>
                        <p>İlan oluşturan restoranlardan istediğini seç.</p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="image-box clearfix border-right-dashed">
                    <div class="box-image float-left">
                        <img src="~/take_away/hotte-main/img/macaron.png" alt="" />
                    </div>
                    <div class="image-text float-left">
                        <h2>Rezervasyon Oluştur</h2>
                        <p>Seçtiğin restoranda rezervasyon oluştur.</p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="image-box clearfix">
                    <div class="box-image float-left">
                        <img src="~/take_away/hotte-main/img/dinner.png" alt="" />
                    </div>
                    <div class="image-text float-left">
                        <h2>Teslim Al</h2>
                        <p>Saati geldiğinde yemeğini teslim al ve afiyetle ye.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- SERVICE SECTION END -->
<!--MENU SECTION START-->
<div class="food-menu-section" id="food-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="menu-head text-center">
                    <h2>Rezervasyon Oluşturabileceğin<span><br>İlanlar</span></h2>
                    <p>Birbirinden lezzetli yiyecekleri senin için hazırladık!</p>
                </div>
            </div>
        </div>
        <div class="row food-box">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/mantı.jpg" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Yoğurtlu Mantı</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 dakika.</span>
                                    
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Rezervasyon Oluştur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/hamburger2.jpg" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Cheese Burger</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 1 saat 25 dakika.</span>
                                    
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Rezervasyon Oluştur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/etdöner2.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Et Döner</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 45 dakika.</span>
                                    
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Rezervasyon Oluştur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food4.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Hotte Sendwise</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>25.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food5.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Vegetable Roll</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>18.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food6.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>French Fry</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>16.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row food-box">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food1.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Chicken Burger</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>89.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food2.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Special Beef Burger</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>95.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food3.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Chicken Fry Pack</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>74.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food4.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Hotte Sendwise</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>25.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food5.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>Vegetable Roll</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>18.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="food-menu text-center">
                    <div class="food-img-info">
                        <div class="food-img">
                            <img src="~/take_away/hotte-main/img/food6.png" class="w-100" alt="" />
                        </div>
                        <div class="overlay text-left">
                            <h4>Ingredients</h4>
                            <span>½ tbsp olive oil</span>
                            <span>1 onion, peeled and finely chopped</span>
                            <span>1 tsp mixed dried herbs</span>
                            <span>1 egg, beaten</span>
                            <span> 4 slices mature Cheddar (optional)</span>
                        </div>
                    </div>
                    <div class="food-informaion">
                        <div class="row align-items-center">
                            <div class="col-12"><h2>French Fry</h2></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="food-info text-left">
                                    <span><i class="icofont-clock-time"></i> 25 min away</span>
                                    <h3><span>$</span>16.00</h3>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                <a href="#" class="btn order-btn2">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MENU SECTION END-->
<!-- TESTY FOOD SECTION START -->
<div class="testy-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="testy-content">
                    <h3>Tek bir kırıntıyı bile <span>israf</span> etmeyeceğiz!</h3>
                    <p>Türkiye'de her yıl 26 milyon ton gıda israf ediliyor. Buna bir dur demek için bu projeyi başlatmamız bizim için bir zorunluluktu.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 text-center">
                <div class="video-content">
                    <div class="video">
                        <a href="https://youtu.be/tKbttQVok-M" class="venobox" data-autoplay="true" data-vbtype="video">
                            <i class="icofont-ui-play"></i>
                        </a>
                    </div>
                    <span>Neden bunu yapıyoruz?</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTY FOOD SECTION END -->
